@import '~@angular/material/theming';

@include mat-core();

$theme-primary: mat-palette($mat-indigo);
$theme-accent: mat-palette($mat-pink, A200, A100, A400);

$theme: mat-dark-theme($theme-primary, $theme-accent);

@include angular-material-theme($theme);
