
.imgContainer{
  width:3%;
  height:44%;
  position: relative;
  left: 74%;
}

.container{
  display: flex;
  flex-direction: column;
}
.containerRow{
  display: flex;
  flex-direction: row;
}

.logoContainer{
  position: fixed;
  left: 25%;
  bottom: 45%;
  width: 45%;
}
.PgLogoContainer{
  position: fixed;
  left: 85%;
  bottom: 1%;
  width: 12%;
  opacity: 75%;
}
.NTALogoContainer{
  position: fixed;
  left: 1%;
  bottom: 1%;
  width: 12%;
  opacity: 75%;
}
.headerLogo{
  position: sticky;
  left: 93%;
  width: 5%;
}
.Search{
  font-size: x-small;
  position: sticky;
  left: 75%;
}
