<html>

<mat-toolbar class="toolBar">
    <mat-button (click) = "goHome()" mat-menu-item>Home</mat-button>
    <mat-button *ngIf="Home == true || cardForIDF == true" (click) = "getCardByIDF()" mat-menu-item>IDF</mat-button>
    <mat-button *ngIf="Home == true || cardForRoom == true" (click) = "getCardByRoom()" mat-menu-item>Rooms</mat-button>
    <mat-button *ngIf="Home == true || cardForArea == true" mat-menu-item [matMenuTriggerFor]="Area">
    Areas
  </mat-button>
  <mat-menu #Area="matMenu">
    <button *ngFor = "let area of NewAreas" (click)="getCardByArea(area)" mat-menu-item>{{area}}</button>
  </mat-menu>
  <mat-button *ngIf="Home == true" (click) = "goHome()" mat-menu-item>Video</mat-button>
  <mat-button *ngIf="cardForArea == true || cardForRoom == true || cardForIDF ==true"  (click) = "InPut()" mat-menu-item>InPut</mat-button>
  <mat-button *ngIf="cardForArea == true || cardForRoom == true || cardForIDF ==true"  (click) = "OutPut()" mat-menu-item>OutPut</mat-button>
  <mat-button *ngIf="Input == true || Output == true"  (click) = "goHome()" mat-menu-item>Email PDF</mat-button>

  <span class="Search">
    <mat-form-field>
      <input (keyup)="applyFilter(InputText)" [(ngModel)]="InputText"  matInput placeholder="Search">
    </mat-form-field>
  </span>

  <img src="assets/Artboard.png" class="headerLogo">
</mat-toolbar>

<!-- cards -->

<body>

<div *ngIf="cardForArea == true && Input == true">
  <div *ngFor="let card of filterAreaInput">
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
     {{card.Area}}: {{card.Location}}
    </mat-panel-title>
    <mat-panel-description>
      Room: {{card.Room}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>{{card.Type}}</p>
  <hr color="{{card.Color}}">
    <span class="containerRow">
       <div class="container">
          <span *ngFor=" let Src of card.Source" > <h4>ROUTE: {{Src}} ------------> </h4></span>
      </div>
      <div class="container">
        <span *ngFor=" let Des of card.Destination"> <h4> {{Des}} </h4>  </span>
     </div>
    </span>
  </mat-expansion-panel>
    <p></p>
  </div>
</div>

<div *ngIf="cardForArea == true && Output == true">
  <div *ngFor="let card of filterAreaOutput">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{card.Area}}: {{card.Location}}
        </mat-panel-title>
        <mat-panel-description>
          Room: {{card.Room}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{card.Type}}</p>
      <hr color="{{card.Color}}">
      <span class="containerRow">
       <div class="container">
          <span *ngFor=" let Src of card.Source" > <h4>ROUTE: {{Src}} ------------> </h4></span>
      </div>
      <div class="container">
        <span *ngFor=" let Des of card.Destination"> <h4> {{Des}} </h4>  </span>
     </div>
    </span>
    </mat-expansion-panel>
    <p></p>
  </div>
</div>

<!--idf-->
<div *ngIf="cardForIDF == true && (Input == true || Output == true)">
  <div *ngFor = "let card of searchData">
    <mat-expansion-panel>
      <mat-expansion-panel-header color="black">
        <mat-panel-title>
          {{card.Location}}: {{card.Area}}
        </mat-panel-title>
        <mat-panel-description>
          Room: {{card.Room}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <hr color="{{card.Color}}">
      <span class="containerRow">
        <div class="container">
          <span *ngFor=" let Src of card.Source" > <h4>ROUTE: {{Src}} ------------> </h4></span>
        </div>
        <div class="container">
        <span *ngFor=" let Des of card.Destination"> <h4> {{Des}} </h4>  </span>
      </div>
      </span>
    </mat-expansion-panel>
    <p></p>
  </div>
</div>

<!--rooms-->
<div *ngIf="cardForRoom == true && (Input == true || Output == true)">
  <div *ngFor = "let card of cardInfo">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
       Room: {{card.Room}}
      </mat-panel-title>
      <mat-panel-description>
        {{card.Location}}: {{card.Area}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <hr color="{{card.Color}}">
    <span class="containerRow">
       <div class="container">
        <span *ngFor=" let Src of card.Source" > <h4>ROUTE: {{Src}} ------------> </h4></span>
      </div>
      <div class="container">
        <span *ngFor=" let Des of card.Destination"> <h4> {{Des}} </h4>  </span>
     </div>
    </span>
  </mat-expansion-panel>
    <p></p>
  </div>
</div>


<!--Logos-->
<div *ngIf="Home == true || Input == false && Output == false">
<img src="assets/logo-black.png" class="logoContainer">
<img src="assets/PG.png" class="PgLogoContainer">
<img src="assets/NTA.png" class="NTALogoContainer">
</div>

</body>

</html>
